
#mb-formbuilder-container label, #mb-formbuilder-container .radio label {
    min-height: 20px;
    padding-left: 20px !important;
    width: 100%;
}
#mb-formbuilder-container .fbTheme [field-template-name=radio] .control-label {
    visibility: hidden !important;
    height: 0;
    position: absolute;
}
#mb-formbuilder-container .formPreview .radio, #mb-formbuilder-container.directLink .radio {
    padding-left: 0em;
    margin-bottom: -1rem;
}

#mb-formbuilder-container .radio[class*=col-] .optionname {
    padding: 20px 15px;
    text-align: center;
    line-height: 1.4;
}

.radio.col-xs-12 span.optionname {
    font-weight: bold !important;
    margin: 0rem auto -1rem auto;
    font-size: x-large !important;
    border-style: outset;
    border-width: 2px;
    border-radius: 1rem;
    padding: 1rem;
    max-width: var(--button-maxwidth) !important;
    min-width: var(--button-minwidth) !important;
    width: var(--button-width) !important;
    background-color: var(--button-bg-color);
    color: var(--button-color) !important;
}
.radio.col-xs-12 span.optionname:hover {
    background-color: var(--button-hover-bg-color) !important;
    color: var(--button-hover-color) !important;
    transition-duration: 300ms !important;
}
#mb-formbuilder-container [type=radio]:checked+span {
    scale: var(--button-scale) !important;
    color: var(--button-selected-color) !important;
    background-color: var(--button-selected-bg-color) !important;
}
#mb-formbuilder-container .fbTheme [type=radio]+span::after, #mb-formbuilder-container .fbTheme [type=radio]:checked+span::before, #mb-formbuilder-container .fbTheme.forms-has-background [type=radio]+span::before {
  visibility: hidden !important;
}
.radio.col-xs-12 {
    text-align-last: center;
    line-height: 2;
}
span.optionname::before
{
    visibility: hidden;
}